.cart p{
    line-height: 33px;
    margin-left: 10px;
    font-size: 30px;
}
.cart p span{
    font-size: 12px;
    vertical-align: super;
}
.screen1 .slider-title h1{
    font-size: 20px;
}

.black-btn button{
    width: 160px;
    height: 50px;
    font-size: 15px;
    background: #1c1105;
    border: 0;
    color: #fff;
}
.slider-content ul.items li h2{
    font-size: 15px;
    font-weight: 600;
    width: 129px;
}
.slider-content ul.items li h2 span{
    display: block;
    font-size: 11px;
}
.slider2-box p{
    line-height: 71px;
    padding-left: 32px;
    font-size: 16px;
    font-weight: 600;
}

p.title{
    font-size: 24px;g
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
hr.title{
    margin: auto;
    margin-top: 27px;
    margin-bottom: 30px;
    width: 67px;
    background: #efefef;
    border: 1px solid #efefef;
}

.screen3 .bottom{
    height: 54px;
    text-align: center;
    line-height: 54px;
    background: #fac012;
    color: #fff;
    font-weight: 600;
}
.why-us .dropdown{
    margin: 25px 0;
}

.screen5-box .title5{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000;
}
.screen5-box{
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    font-size: 12px;
    color: #b7b7b7;
    font-weight: 600;
    overflow: hidden;
}
.screen5-box ul li{
    margin-right: 13px;
    margin-bottom: 10px;
}
.screen5-box ul li:last-child{
    margin-right: 0;
}

p.content{
    color: #fff;
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
}
.discount-subscribe input{
    height: 42px;
    background: #323232;
    padding-left: 13px;
    border: 1px solid white;
    color: #fff;
    width: 42%;
}
.discounts .black-btn button{
    background: #fff;
    color: #323232;
    font-weight: 600;
}
.discounts p.title{
    color: #fff;
}
.screen5-box .date span{
    font-size: 12px;
}
.screen5-box .post{
    margin-left: 15px;
    height: 100px;
    width: 225px;
    line-height: 20px;
}
.screen5-box .post span{
    color: #fac012;
}
.add-to-cart .top p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.add-to-cart{
    color: #b6b6b6;
    margin-bottom: 20px;
}
.add-to-cart p.price{
    margin-top: 23px;
    color: #fac012;
}
.screen4 .why-us{
    color: #fff;
    font-size: 15px;
    text-align: justify;
}
.why-us .list{
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    height: 52px;
    line-height: 52px;
    margin-top: 18px;
    padding: 0 20px;
}
.screen5-box .date{
    font-size: 24px;
    text-transform: uppercase;
    width: 38px;
    height: 36px;
    text-align: center;
    line-height: 17px;
    color: #1c1105;
}

.screen7 ul.tabs li{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1c1105;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #323232;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 10px;
}
.screen7 ul.tabs li.active{
    color: #fff;
    background: #fac012;
    border-color: #fac012;
}
.screen7 ul.tabs{
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}
.screen7 .onHover{
    width: 100%;
    height: 100%;
    background: #fac012;
    text-align: center;
    padding: 40px;
    color: #fff;
    font-size: 15px;
    display: none;
    box-sizing: border-box;
}
.screen7-box:hover .onHover{
    display: block;
}
.screen7 .onHover .title7, .screen7 .onHover .price{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 20px;
}

.screen8 p.main-topic{
    font-size: 35px;
    margin-bottom: 15px;
}
.contacts span{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 50px;
    display: block;
}
.screen8 .contacts ul li{
    list-style: none;
    margin-bottom: 50px;
    margin-top: 50px;
}
.screen8 .contacts ul li:first-child{
    margin-top: 0;
}
.screen8 .contacts ul li:last-child{
    margin-bottom: 0;
}
.contacts ul li p.title8{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contacts .regular{
    font-size: 15px;
    margin-bottom: 5px;
}
.contact-form input{
    width: 100%;
    height: 40px;
    padding-left: 12px;
    background: #f7f7f7;
    border: 0;
    margin-bottom: 18px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25)
}
.contact-form textarea{
    width: 100%;
    height: 203px;
    padding-left: 12px;
    background: #f7f7f7;
    border: 0;
    margin-bottom: 33px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25)
}
.slider-box .black-btn button {
    display: none;
}
.list-footer .image-div img{
    min-height: 100%;
    max-width: 100%;
}
.slider2-box .img-div{
    width: 257px;
    height: 156px;
    overflow: hidden;
    margin-top: -5px;
    margin-left: 53px;
}

@media(min-width:768px){
    .screen5-box .date{
        padding: 10px 10px;
        border: 1px solid #f6f6f6;
        line-height: 17px;
    }
    .slider2-wrap {
        height: 566px;
    }
    .screen3 {
        padding: 60px 0;
    }
    .second-div{
        height: 662px;
    }
}

@media(min-width:1024px){
    .second-div{
        height: auto;
    }
    .add-to-cart .top{
        height: 180px;
    }
    .slider2-wrap{
        height: 365px;
    }
    .slider2{
        padding-bottom: 113px;
    }
    .main-wrapper{
        width: 1024;
    }
    .container{
        width: 984px;
    }
    .screen1 .slider-container {
        width: 822px;
        height: 514px;
    }
    .screen1{
        padding-top: 0;
    }
    .screen1 .slider-title h1 {
        font-size: 30px;
    }
    .slider-box .black-btn button {
        display: inline-table;
    }
    .screen1 .slider-box{
        padding: 60px 50px;
    }
    .screen1 .slider-title {
        padding-bottom: 25px;
    }
    .slider-content ul.items li {
        margin-left: 59px;
    }
    .screen1 .left-arrow, .screen1 .right-arrow{
        top: 222px;
    }
    .screen1 .slider-container{
        margin-bottom: 148px;
    }

    .navbar{
        display: block;
    }
    .slider2-box{
        width: 310px;
        margin-bottom: 0;
    }
    .add-to-cart{
        margin-bottom: 0px;
    }
    .screen4{
        padding: 118px 0;
    }
    .screen5-box{
        margin-bottom: 0px;
    }
    hr.title{
        margin-bottom: 58px;
    }
    .empty{
        display: inline-table;
    }
    .screen6 .border{
        display: inline-table;
        background: url(../images/layout/border-sep.png);
        height: 439px;
        width: 169px;
        background-repeat: no-repeat;
        float: left;
        margin-left: -2px;
    }
    .screen6 .discounts{
        height: 439px;
        float: left;
        width: 385px;
        margin-left: -72px;
        padding-top: 45px;
    }
    .screen7{
        padding: 100px 0;
    }
    .screen7 ul.tabs{
        width: 700px;
    }
    .screen7 ul.tabs li {
        margin-bottom: 0;
    }
    .screen7 ul.tabs{
        margin-bottom: 50px;
    }
    .screen7-box{
        width: 313px;
    }
    .screen5-box{
        width: 300px;
    } 
    .discount-subscribe input{
        width: 45%;
    }
    .screen7 ul.tabs li{
        width: 120px;
    }
}




.footer{
    padding:80px 0;
    background: #1c1105;
    color: #584c3f;
    font-size: 15px;
    padding-bottom: 30px;
}
.footer p{
    margin-bottom: 40px;
    text-align: justify;
}
.read-more img{
    margin-right: 13px;
}
p.read-more{
    color: #fac012
}
.footer .des{
    font-weight: 600;
    margin-left: 9px;
    line-height: 15px;
    text-transform: capitalize;
}
.footer .des span{
    font-size: 12px;
}
.follow-icon{
    width: 142px;
}
p.footer-title{
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
hr.footer-title{
    border: 2px solid #fac012;
    width: 81px;
    margin-bottom: 30px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.rating { 
  border: none;
  float: left;
  margin-bottom: 5px;
}
.rating input { display: none; } 
.rating label:before { 
  margin: 5px;
  font-size: 11px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating .half:before { 
  content: "\f089";
  position: absolute;
}
.rating label { 
  color: #ddd; 
 float: right; 
 margin: 0;
}
.rating input:checked ~ label { color: #FFD700;  } /* hover previous stars in list */

.footer-price{
    color: #fac012;
}